<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                {{ editMode ? 'Edit Recipe' : 'Add New Recipe'}}
            </mat-card-title>
        </mat-card-header>
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-6 cont">
                    <img class="img-responsive" [src]="imageurl" *ngIf="imageurl">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cont">
                    <mat-form-field>
                        <input matInput placeholder="Enter Image Url" formControlName="imagePath" required>
                        <mat-error *ngIf="recipeForm.get('imagePath').invalid">{{imageErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cont">
                    <mat-form-field>
                        <input matInput placeholder="Enter Recipe Name" formControlName="name" required>
                        <mat-error *ngIf="recipeForm.get('name').invalid">{{nameErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 cont">
                    <mat-form-field>
                        <textarea matInput #input maxlength="80" placeholder="Description"
                            formControlName="description"></textarea>
                        <mat-hint align="end">{{input.value?.length || 0}}/80</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row" *ngFor="let ingred of controls;let i = index" [formGroupName]="i">
                        <div class="col-xs-8 cont">
                            <mat-form-field appearance="outline">
                                <mat-label>Ingredient Name</mat-label>
                                <input matInput formControlName="name" placeholder="Rice">
                                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                <mat-hint>Ex: Apple</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-2 cont">
                            <mat-form-field appearance="outline">
                                <mat-label>Amount</mat-label>
                                <input matInput formControlName="amount" placeholder="0">
                                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                <mat-hint>Ex: 8</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-1 cont">
                            <i class="material-icons" (click)="removeIngredient(i)" style="margin-top: 17px;cursor: pointer;">
                                cancel
                            </i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-xs-3 cont">
                    <button mat-stroked-button type="button" (click)="addControls()" color="primary">Add
                        Ingredient</button>
                </div>
                <div class="col-xs-2 cont">
                    <button mat-raised-button type="submit" color="primary" [disabled]="!recipeForm.valid">{{ editMode ? 'Update' : 'Save' }}</button>
                </div>
                <div class="col-xs-2 cont">
                    <button mat-raised-button type="button" (click)="onCancel()" color="warn">Cancel</button>
                </div>
            </div>
        </form>
    </mat-card>
</div>