<a [routerLink] = [i]
  class="list-group-item clearfix" style="margin-bottom: 5px;" routerLinkActive="active">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipe.name | titlecase }}</h4>
    <p class="list-group-item-text">{{ recipe.description | titlecase | slice:0:30 }}{{ recipe.description.length>30 ? '...' : '' }}</p>
  </div>
  <span class="pull-right">
        <img
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
</a>
